
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  body{
    @apply bg-[#0a192f] text-gray-100 tracking-wide
  }
  
  html{
    scroll-behavior: smooth!important;
    --top-spacing: 80px;
    scroll-padding-top: var(--top-spacing);
  }
  
  h1,h2,h3,h4,h5,h6{
    @apply font-bold
  }
  
  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }
  
  h2{
    @apply text-3xl sm:text-4xl
  }
  
  li{
    @apply cursor-pointer
  }
  
  button{
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }

  .overflow-hidden {
    overflow: hidden;
  }

  
  @layer utilities {
    :root {
      --delay-100: 0.1s;
      --delay-200: 0.2s;
      --delay-300: 0.3s;
      --delay-400: 0.4s;
      --delay-500: 0.5s;
      --delay-600: 0.6s;
      --delay-700: 0.7s;
      --delay-800: 0.8s;
      --delay-900: 0.9s;
      --delay-1000: 1.0s;
    }
  
    .animate-fade-up {
      animation-name: fadeUp;
      animation-duration: 800ms;
      animation-fill-mode: both;
    }
  
    .animate-fade-up.delay-100 {
      animation-delay: var(--delay-100);
    }
  
    .animate-fade-up.delay-200 {
      animation-delay: var(--delay-200);
    }
  
    .animate-fade-up.delay-300 {
      animation-delay: var(--delay-300);
    }
  
    .animate-fade-up.delay-400 {
      animation-delay: var(--delay-400);
    }
  
    .animate-fade-up.delay-500 {
      animation-delay: var(--delay-500);
    }
    .animate-fade-up.delay-600 {
      animation-delay: var(--delay-600);
    }
    .animate-fade-up.delay-700 {
      animation-delay: var(--delay-700);
    }
    .animate-fade-up.delay-800 {
      animation-delay: var(--delay-800);
    }
    .animate-fade-up.delay-900 {
      animation-delay: var(--delay-900);
    }
    .animate-fade-up.delay-1000 {
      animation-delay: var(--delay-1000);
    }
  
    @keyframes fadeUp {
      from {
        opacity: 0;
        transform: translateY(1rem);
      }
      to {
        opacity: 1;
        transform: none;
      }
    }
  }
}